.custom {
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #c7c7c7;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #e0e0e0;
    }
}
